/*1. add the screen div layer and place it ztranslated in front of 1. 
// change the screen colors to the gif.
//remove the numbers.
//make the juan cortes button in the middle of the screen. it's another cube, just in the middle of the screen and just a fraction of the width.
//move the project out of codepen :(
//test video on the screen div
//add change of channel functionality.
//add information button
//add information screen
//MVP
//start playing with the animation */

.container {
  width:119vh;
  height:70vh;
  position:relative;
  perspective:80000px;
/*   perspective-origin: 25% 99%; */
  margin:auto;
}

#cube {
  width:100%;
  height:100%;
  position:absolute;
  transform: translateZ(-10000px) rotateX(10deg) rotateY(7deg) rotateZ(-0.6deg);
  perspective-origin: 25% 75%;
  transform-style: preserve-3d;
/*   transition: transform 1s; */
  top:2em;
}

#cube.show-front {transform: rotateX(0deg) translateZ(-100px);}

#cube.show-back {transform: translateZ(-100px) rotateX(180deg);}

#cube.show-top {transform: translateZ(-100px) rotateX(-90deg);}

#cube.show-bottom {transform:translateZ(-100px) rotateX(90deg);}

#cube.show-left {transform: translateZ( -100px ) rotateY(90deg);}

#cube.show-right {transform: translateZ(-100px) rotateY(-90deg);}




#cube figure {
  margin:0;
  backface-visibility:hidden;
  display:block;
  position:absolute;
/*border:2px solid black; */
  text-align:center;
  line-height:196px;
  font-size:400%;
  font-family: sans-serif;
  font-weight:bold;
  color:white;
}

#cube .front, #cube .back {
  width:100%;
  height:100%;
}


#cube .top, #cube .bottom {
  width:100%;
  height:2em;
}

#cube .left, #cube .right {
  height:100%;
  width:2em;
}

#cube .front { transform: rotateX(0) translateZ(1em); }

#cube .back {  transform: rotateX(180deg) translateZ(1em); }

#cube .right { transform: translateX(119vh) translateX(-1em) rotateY(90deg) ; }

#cube .left { transform: rotateY(-90deg) translateZ(1em); }

#cube .top { transform: rotateX(90deg) translateZ(1em); }

#cube .bottom { transform: rotateX(-90deg) translateZ(70vh) translateZ(-1em); }

/* colores */
#cube .front { background:hsla( 0, 100%, 50%, 0.5 ); }
#cube .back { background:hsla( 60, 100%, 50%, 0.5 ); }
#cube .right { background: hsla( 120, 100%, 50%, 0.5 ); }
#cube .left { background: hsla(180, 100%, 50%, 0.5); }
#cube .top { background: hsla(240, 100%, 50%, 0.5); }
#cube .bottom { background: hsla(300, 100%, 50%, 0.5); }



#cube .screen {
  background-color:black;
  width:95%;
  height: 95%;
  margin:auto;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
