

html, body{
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

body {
  background-color: #F3855D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color:white;
  text-decoration: none;
  border-bottom:0.4vh solid white;
}

a:visited {
  color:white;
}

a:hover {
  border-bottom:none;
}


a.info-icon {
    color: #4CFF41;
    border-bottom: 0.4vh solid #4CFF41;
}

a.info-icon:hover {
    border-bottom:none;
}

/***** rules for cube and buttons ***/


.container {
  width:119vh;
  height:70vh;
  position:relative;
  perspective:9000px;
  margin:auto;
  top:2em;
  transform-style: preserve-3d;
  -moz-transform-style: unset;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(10deg);
  -webkit-transform: rotateX(10deg);
  -moz-transform: rotateX(10deg);
}

#cube {
  width:100%;
  height:100%;
  position:absolute;
  /* transform: translateZ(-10000px) rotateX(10deg) rotateY(7deg) rotateZ(-0.6deg); */
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;

}


#cube figure {
  margin:0;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  display:block;
  position:absolute;
  text-align:center;
  font-family: sans-serif;
  font-weight:bold;
  color:white;
  border:8px solid black;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}

#cube .front, #cube .back {
  width:100%;
  height:100%;
}

#cube .top, #cube .bottom {
  width:100%;
  height:4em;
}

#cube .left, #cube .right {
  height:100%;
  width:4em;
}

#cube .front { 
  transform: rotateX(0) translateZ(2em); 
  -webkit-transform: rotateX(0) translateZ(2em); 
  -moz-transform: rotateX(0) translateZ(2em); 

}

#cube .back {  
  transform: rotateX(180deg) translateZ(2em); 
  -webkit-transform: rotateX(180deg) translateZ(2em); 
  -moz-transform: rotateX(180deg) translateZ(2em); 
}

#cube .right { 
  transform: translateX(119vh) translateX(-2em) rotateY(90deg) ; 
  -webkit-transform: translateX(119vh) translateX(-2em) rotateY(90deg) ; 
  -moz-transform: translateX(119vh) translateX(-2em) rotateY(90deg) ; 

}

#cube .left { 
  transform: rotateY(-90deg) translateZ(2em); 
  -webkit-transform: rotateY(-90deg) translateZ(2em); 
  -moz-transform: rotateY(-90deg) translateZ(2em); 

}

#cube .top { 
  transform: rotateX(90deg) translateZ(2em); 
  -webkit-transform: rotateX(90deg) translateZ(2em); 
  -moz-transform: rotateX(90deg) translateZ(2em); 

}

#cube .bottom { 
  transform: rotateX(-90deg) translateZ(70vh) translateZ(-2em); 
  -webkit-transform: rotateX(-90deg) translateZ(70vh) translateZ(-2em); 
  -moz-transform: rotateX(-90deg) translateZ(70vh) translateZ(-2em); 

}


#cube .screen {
  background-color:black;
  width:95%;
  height: 95%;
  margin:auto;
  position: relative;
  top:50%;
  transform: translateY(-50%) translateZ(0.1em);
  -webkit-transform: translateY(-50%) translateZ(0.1em);
  -moz-transform: translateY(-50%) translateZ(0.1em);
  overflow: hidden;
}

.button-container {
  width: 16em;
  height: 5em;
  position:relative;
  perspective: 800px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  margin:auto;
  /*background: rgba(145,234,40,0.5);*/
  transform: translateY(5em) rotateX(10deg) rotateY(1deg) translateZ(1em);
  -webkit-transform: translateY(5em) rotateX(10deg) rotateY(1deg) translateZ(1em);
  -moz-transform: translateY(5em) rotateX(10deg) rotateY(1deg) translateZ(1em);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

#button {
  width:100%;
  height:100%;
  position:absolute;
  transform: rotateX(10deg) rotateY(7deg) rotateZ(-0.6deg);
  -webkit-transform: rotateX(10deg) rotateY(7deg) rotateZ(-0.6deg);
  -moz-transform: rotateX(10deg) rotateY(7deg) rotateZ(-0.6deg);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

#button figure {
  margin:0;
  backface-visibility:hidden;
  display:block;
  position:absolute;
  border:4px solid black;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#button .button-front {
  width:100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

#button .button-right, #button .button-left {
  width: 2em;
  height:100%;
}

#button .button-top, #button .button-bottom {
  width:100%;
  height: 2em;
}


#button .button-front {
  transform: translateZ(1em);
  -webkit-transform: translateZ(1em);
  -moz-transform: translateZ(1em);
}

#button .button-right {
  transform: translateX(16em) translateX(-50%) rotateY(90deg);
  -webkit-transform: translateX(16em) translateX(-50%) rotateY(90deg);
  -moz-transform: translateX(16em) translateX(-50%) rotateY(90deg);
}

#button .button-left {
  transform: translateX(-50%) rotateY(-90deg);
  -webkit-transform: translateX(-50%) rotateY(-90deg);
  -moz-transform: translateX(-50%) rotateY(-90deg);
}

#button .button-top {
  transform: translateY(-50%) rotateX(90deg);
  -webkit-transform: translateY(-50%) rotateX(90deg);
  -moz-transform: translateY(-50%) rotateX(90deg);
}
#button .button-bottom {
  transform: translateY(5em) translateY(-50%) rotateX(-90deg);
  -webkit-transform: translateY(5em) translateY(-50%) rotateX(-90deg);
  -moz-transform: translateY(5em) translateY(-50%) rotateX(-90deg);
}

.button-front > div {
  margin-top:0.5em;
  transform: translateZ(5px);
  -webkit-transform: translateZ(5px);
  -moz-transform: translateZ(5px);
}

/* colores */
#cube .front, #button .button-front {background: #7F7F7F;}
#cube .back { background: #779ECB; }
#cube .right, #button .button-right {background: #4CFF41;}
#cube .left, #button .button-left {background: #4CFF41;}
#cube .top, #button .button-top { background: #4CFF41; }
 /*#cube .bottom, #button .button-bottom { background-image: radial-gradient(circle farthest-corner at center, #000 45%, #0000FF 45%); background-size:10px 10px; }*/
#cube .bottom, #button .button-bottom {background: #4CFF41;}


.pow {
    position: absolute;
    width: 4em;
    margin:auto;
    left:0;
    right:0;
    top: -4px;
}

.pow.on {
  box-shadow: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}

div.next {
    position: absolute;
    right: 1em;
    width: 4em;
    height:100%;
}


div.prev {
    position: absolute;
    left: 1em;
    width: 4em;
    height: 100%;
}


/** RULES FOR POWER BUTTON SVGS**/

div.prev.pressed, div.next.pressed {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}

svg.arrow {
  position: absolute;
  top:.2em;
}

svg.arrow.white {
  transform: translateY(10%);
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  display:none;
}

div.next:hover svg.arrow.white, div.prev:hover svg.arrow.white {
  display: initial;
}



#button div.pressed svg.black {
  transform: translateY(10%);
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
}

#button .pow svg #background {
  fill: #7F7F7F;
}

#button .pow svg #circular-border, #button .pow svg #icon-semicircle, #button .pow svg #icon-rectangle {
  fill: #010101;
}

#button .pow:hover svg #background {
  fill:#010101;
}

#button .pow:hover svg #circular-border, #button .pow:hover svg #icon-semicircle, #button .pow:hover svg #icon-rectangle {
  fill: #7F7F7F;
}

#button .pow.on svg #background {
  fill: #4CFF41;
}

#button .pow.on svg #circular-border, #button .pow svg #icon-semicircle, #button .pow svg #icon-rectangle {
  fill: #010101;
}



.on-icon {
  width: 1.5em;
  position: relative;
  top: 0.2em;
}

.on-icon:hover #circular-border, .on-icon:hover #icon-semicircle, .on-icon:hover #icon-rectangle {
  fill:#4CFF41;
}

.on-icon:hover {
  cursor: pointer;
}

#button .pow:hover, #button .prev:hover, #button .next:hover {
  cursor: pointer;
}

/****rules for screen***/



.screen {
  font-size: 4.2vh;
}


#cube .screen video {
  min-height:100%;
  min-width: 100%;
  height: 103%;
  width:auto;
  display: none;
}

.vid {
  display:none;
  position: absolute;
}

.intro, .vid.info {
  width:100%;
  height:100%;
  color: white;
  background-color: black;
  padding: 1.5em 2em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.intro .cv-link {
  margin-right:2em;
}

.vid.info {
  top: 0;
  right:0;
  left:0;
}

.vid.info .single-info {
  text-align: left;
  font-size: 3.5vh;
  font-weight: 400;
}

.vid.info .single-info a {
  font-weight: bold;
}


.vid.caption>p, .vid.channel>p {
  padding:.5em;
}


.vid.caption {
  top:0;
  left: 0;
  text-align: left;
  opacity: 1;
  transition:opacity 50ms ease-in-out;
  -webkit-transition:opacity 50ms ease-in-out;
  -moz-transition:opacity 50ms ease-in-out;
}

.vid.caption.animated {
  animation: fadeopacity 2s ease-in-out 0s 1 normal;
  -webkit-animation: fadeopacity 2s ease-in-out 0s 1 normal;
  -moz-animation: fadeopacity 2s ease-in-out 0s 1 normal;
  opacity: 0.1;
}

.vid.caption:hover {
  opacity: 1;
}

@keyframes fadeopacity {
  0% {opacity:1}
  70% {opacity: 1}
  100% {opacity: 0.1}
}

@-webkit-keyframes fadeopacity {
  0% {opacity:1}
  70% {opacity: 1}
  100% {opacity: 0.1}
}

@-moz-keyframes fadeopacity {
  0% {opacity:1}
  70% {opacity: 1}
  100% {opacity: 0.1}
}

.vid.channel {
  top:0;
  right:0;
}

.intro p, .vid p {
  padding: 0 2em;
  background-color: black;
  margin-top:0em;
  margin-bottom:0.5em;
  line-height: 1.3em;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
}

.intro .intro-links, .info-links {
    position: absolute;
    margin: auto;
    bottom: .5em;
    left: 0;
    right: 0;
}

.info-links a {
  margin-right:1em;
}

.info-links a:nth-of-type(3) {
  margin:none;
}

.intro .icons {
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
}

.intro .icons a {
  text-decoration: none;
  border:none;
}

.intro .icons svg {
  width: 4vh;
  fill: white;
}

.intro .icons svg:hover {
  fill: #4CFF41;
}

/**** CV PAGE STYLES ****/
.cv {
  display:none;
  position: absolute;
  width:100%;
  top:0;
  background:blue;
  font-family: sans-serif;
  font-weight:bold;
  color:white;
  font-size:1.5em;
}

/***MOBILE STYLES***/

.mobile-instructions {
  display:none;
}

.mob-tap {
  display:none;
  width:100%;
  position:absolute;
  top:0;
  bottom: 15%;
  z-index:10;
}

@media only screen and (max-width: 770px) and (orientation: portrait) {
  .touchevents {
    .mobile-instructions {display:block;}
    .desktop-instructions {display:none;}
    .button-container {
      display:none;
    }
    .container {
      top: 0;
      height:100vh;
      width:100vw;
      transform: initial;
      -webkit-transform: initial;
      -moz-transform: initial;
      perspective:none;
      #cube {
        .vid.caption.animated {
          opacity:1;
          animation: initial;
          -webkit-animation: initial;
          -moz-animation: initial;
          z-index: 11;
        }         
        figure {
          text-align: left;
        }
        .front {
          background: #4CFF41;
        }
        .screen {
          font-size: 3.5vh;
          .mob-tap {
            display:block;
          }
          video {
            position:relative;
            left:-110%;
          }
        }
        .intro {
          padding: 1.5em;
          .intro-links {
            bottom: .5em;
            left:1.5em;
          }
          p {
            padding:0;
          }
          br.hidmob {
            display:none;
          }
        }      
      }

      figure:not(.front) {
        display:none!important;
      }
    }
  }
}


@media only screen and (max-width: 750px) and (orientation: landscape) {
  .touchevents {  
    .container {
      top:1em;
      width: 90vw;
      #cube .right {
        transform: translateX(90vw) translateX(-2em) rotateY(90deg);
        -webkit-transform: translateX(90vw) translateX(-2em) rotateY(90deg);
        -moz-transform: translateX(90vw) translateX(-2em) rotateY(90deg);
      }
      .screen {
        // font-size: 3.5vh;
      }
      .vid.caption.animated {
        opacity:1;
        animation: initial;
        -webkit-animation: initial;
        -moz-animation: initial;
      }        
    }
    .button-container {
      width: 11em;
      height: 3em;
      top:-2.5em;
      #button {      
        .pow {
          width:2.5em;
          margin-top: 0.3em;
        }
        div.btn {
          width:2em;
          margin-top:0.3em;
        }
        .button-right {
          -webkit-transform: translateX(11em) translateX(-50%) rotateY(90deg);
          -moz-transform: translateX(11em) translateX(-50%) rotateY(90deg);
          transform: translateX(11em) translateX(-50%) rotateY(90deg);
        }
        .button-bottom {
          -moz-transform: translateY(3em) translateY(-50%) rotateX(-90deg);
          -webkit-transform: translateY(3em) translateY(-50%) rotateX(-90deg);
          transform: translateY(3em) translateY(-50%) rotateX(-90deg);
        }
      }
    }
  }
}




.mobile {
  display:none;
}
